* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

body {
    background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 42%, rgba(237, 221, 83, 1) 100%);
    min-height: 500px;
}

#glass-border {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    height: 60%;
    width: 70%;
    min-height: 400px;
}

#menu {
    background-color: white;
    border-radius: 12px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    padding: 16px;
}

#menu > header {
    padding-bottom: 16px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    gap: 8px;
    height: 10%;
    justify-content: start;
    flex-shrink: 0;
}

#separator {
    border-right: 1px solid lightgray;
    height: 70%;
    margin: 0 4px;
}

button {
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 100px;
    height: 35px;
    padding: 0 6px;
    gap: 4px;
}

button > img {
    justify-items: left;
}

#open-project {
    width: fit-content;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

button.active {
    border-color: black;
}